html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 255, 255)) saturate(1000%);
}

.icon-red {
  filter: opacity(0.5) drop-shadow(0 0 0 rgb(220 38 38)) saturate(400%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pagination-btn {
    @apply items-center hidden border px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:flex hover:bg-brand hover:text-white;
  }

  .cart-table-header {
    @apply font-semibold text-center text-gray-600 text-xs uppercase w-1/5;
  }

  .apt-form {
    @apply gap-3 lg:gap-6 lg:gap-y-10 h-fit py-10 grid grid-cols-1 md:grid-cols-2;
  }

  .form-input {
    @apply p-4 border border-gray-200 text-sm bg-gray-50
  }

  .my-btn {
    @apply text-sm bg-black text-white py-3 rounded px-8 w-fit
  }

  /* .desktop {
    @apply hidden
  } */
}